<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
     <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <title>Request</title>
</head>
<body class="bgre">

      <nav class="navbar navbar-expand-lg navbar-light fixed-top bg3-nav">
  <div class="container">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <h4 class="text-light" style="font-size:20px">Apartment Management System </h4>
    <ul class="navbar-nav ml-auto">
       <li class="nav-item active">
        <a class="nav-link text-light" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/apartment">Apartment</a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-light" href="/request">Request</a>
      </li>
        <li class="nav-item">
        <a class="nav-link text-light" href="/tenant">Tenant</a>
      </li>

       <li class="nav-item">
        <a class="nav-link text-light" href="/rent">Rent</a>
       </li>

        <li class="nav-item">
        <a class="nav-link text-light" href="/aprofile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" href="/logout">Logout</a>
      </li>
    </ul>

  </div>
  </div>

</nav><br><br><br>
{% block body %}
     <div class="container">
        <div class="row">
            <div class="col md-2">
                <h5 class="text-dark">Request For Apartment</h5><br>
             {%with messages = get_flashed_messages() %}
             {%if messages%}
             {%for message in messages%}
              <div class="alert alert-success alert-dismissable" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="close">
                      <span aria-hidden="true">x</span>
                  </button>
                  {{message}}
              </div>

             {%endfor%}
             {%endif%}
             {%endwith%}
           <div class="table-responsive-sm">
             <table class="table table-sm table-bordered table-hover table-stripped">
             <tr>

               <th>Request_id</th>
               <th>Name</th>
                 <th>Apart_no</th>

                 <th>Address</th>
               <th>Email</th>
                 <th>P_Number</th>

               <th>Action</th>

           </tr>
              {%for data in request%}
              <tr>
                    <td>{{data.0}}</td>
                    <td>{{data.1}}</td>
                    <td>{{data.2}}</td>
                    <td>{{data.3}}</td>
                    <td>{{data.4}}</td>
                    <td>{{data.5}}</td>


              <td>
                 <a href="/insert_re/{{data.0}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{data.0}}">Accept</a>
                  <a href="/delete_re/{{data.0}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete?')">Reject</a>
              </td>
              </tr>


             <div id="modaledit{{data.0}}" class="modal fade" role="dialog">

           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                        <h6 class="modal-title">Please Accept Request</h6>
                       <button type="button" class="close" data-dismiss="modal">&times;</button>

                   </div>
                   <div class="modal-body">
                       <form  action="/insert_re" method="POST">

                            <div class="form-group">
                                 <input type="hidden" class="form-control"  name="Request_id" value="{{data.0}}">
                           </div>

                           <div class="form-group">

                               <input type="text" placeholder="Tenant_name" class="form-control" name="Name"  value="{{data.1}}">
                           </div>
                           <div class="form-group">

                               <input type="number" placeholder="Apartment_no" class="form-control" name="Apartment_no" value="{{data.2}}" >
                           </div>


                            <div class="form-group">

                               <input type="text" placeholder="Address" class="form-control" name="Address"  value="{{data.3}}">
                           </div>
                           <div class="form-group">

                               <input  type="email"  placeholder="Email" class="form-control" name="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  value="{{data.4}}">

                           </div>



                           <div class="form-group">

                               <input type="tel" placeholder="Phone_number" class="form-control" name="Phone_number" pattern="[+]+[8]+[8]+[0]+[1]+[0-9]{9,9}" value="{{data.5}}">

                           </div>

                            <div class="form-group">
                              <button class="btn btn-primary" type="submit">Accept</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                           </div>



                       </form>

                   </div>

               </div>
           </div>
       </div>
        {%endfor%}
         </table>
           </div>
            </div>

        </div>




               </div>


{% endblock %}

      <script src="static/js/jQuery.js"></script>
       <script src="static/js/bootstrap.min.js"></script>
</body>
</html>